{% extends 'base.html' %}

{% block title %} - Search{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/tipuesearch.css">
{{ super() }}
{% endblock %}

{% block content %}
  <h1>Search</h1>
  <form action="{{ SITEURL}}/pages/search.html">
    <input type="text" value="" placeholder="Suchen" name="q" id="tipue_search_input" autocomplete="on" required>
    <br>
    <br><input type="submit"/>
  </form>

  <div id="tipue_search_content"><div id="tipue_search_loading"></div></div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch_set.js"></script>
  <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch.min.js"></script>
  <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'json',
         'show': 1000,
         'newWindow': false,
         'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
      });
    });
  </script>
{% endblock %}
