  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:title" content="{{ SITENAME }}"/>
  <meta property="og:description" content="{{ SITEDESCRIPTION }}"/>
  <meta property="og:locale" content="{{ default_locale }}"/>
  <meta property="og:url" content="{{ SITEURL }}"/>
  {% if SITELOGO %}
  <meta property="og:image" content="{{ SITEURL }}{{ SITELOGO }}">
  {% endif %}
