  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}"/>
  <meta property="og:title" content="{{ article.title }}"/>
  <meta property="og:description" content="{{ article.summary|striptags|e }}"/>
  <meta property="og:locale" content="{{ article.metadata.get('og_locale', default_locale) }}"/>
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
  <meta property="og:type" content="article"/>
  <meta property="article:published_time" content="{{ article.date }}"/>
  <meta property="article:modified_time" content="{{ article.modified }}"/>
  <meta property="article:author" content="{{ SITEURL }}/{{ article.author.url }}">
  <meta property="article:section" content="{{ article.category.name }}"/>
  {% for tag in article.tags %}
  <meta property="article:tag" content="{{ tag.name }}"/>
  {% endfor %}
  <meta property="og:image" content="{{ SITEURL }}{{ article.metadata.get('cover', SITELOGO) }}">
