
  {% if TWITTER_NAME %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ TWITTER_NAME }}">
  <meta name="twitter:creator" content="{{ TWITTER_NAME }}">
  <meta name="twitter:title" content="{{ article.title }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta name="twitter:image" content="{{ SITEURL }}{{ SITELOGO }}">
  <meta name="twitter:description" content="{{ article.summary|striptags|e }}">
  {% endif %}
