{% extends 'base.html' %}

{% block content %}

  {% for article in articles_page.object_list %}
  <h1><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></h1>
  <p class="post-meta">
    Posted on {{ article.locale_date }}
    {% if article.tags %}
    &#8226; Tagged with
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}
    {% if DISQUS_SITENAME %}
    &#8226; <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Leave a comment</a>
    {% endif %}
  </p>
  {{ article.content }}
  {% endfor %}

  {% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
  {% endif %}

{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include 'disqus_count.html' %}
{% endblock %}
