<!DOCTYPE html>

<meta charset="utf-8">

<title>{{ SITENAME }}{% block title %}{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block styles %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/normalize.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/skeleton.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/walden.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i" rel="stylesheet"> 
{% if CUSTOM_CSS %}
<link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
{% endif %}
{% endblock %}

{% if FEED_ALL_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
{% endif %}
{% if FEED_ALL_RSS %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
{% endif %}

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/mstile-310x310.png" />

<body>

  <div class="row">

    <a href="{{ SITEURL }}"><div class="four columns sidebar"></div></a>

    <div class="eight columns offset-by-four">
      <div class="container content">

        {% block content %}{% endblock %}

        <hr>

        <p class="footer">LINKS: {% for name, url in LINKS %}<a href="{{ url }}">{{ name }}</a> {% endfor %}</p>
        <p class="footer">PAGES: {% for page in pages %}<a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a> {% endfor %}</p>
        <p class="footer">SOCIAL: {% for name, url in SOCIAL %}<a href="{{ url }}">{{ name }}</a> {% endfor %}</p>
        <br>

      </div>
    </div>

  </div>

  {% block scripts %}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-3.2.1.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function() {

      $(".content img").each(function() {
        if($(this).attr("alt"))
          $(this).wrap('<figure class="image"></figure>')
            .after('<figcaption>'+$(this).attr("alt")+'</figcaption>');
      });

      $(".videobox").fitVids();

    });
  </script>
  {% endblock %}
</body>
