@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('/theme/fonts/FantasqueSansMono-Regular.eot'); /* IE 9 Compatibility Mode */
  src: url('/theme/fonts/FantasqueSansMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
       url('/theme/fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
       url('/theme/fonts/FantasqueSansMono-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
       url('/theme/fonts/FantasqueSansMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg'); /* Chrome < 4, Legacy iOS */
  font-weight: 400;
  font-style: normal;
}

body {
  background: #ffffff;
  height: 100%;
  font-family: Fantasque Sans Mono, monospace;
  font-style: normal;
  font-size: 1.5em;
}

a {
  color: #666666;
}

a:hover {
  color: #000000;
}

h1 {
  color: #000000;
  margin-top: 75px;
  font-family: 'Fantasque Sans Mono', monospace;
  font-weight: 300
}

h1 a {
  text-decoration: none;
}

h2 {
  color: #000000;
  font-family: 'Fantasque Sans Mono', monospace;
  font-weight: 300
}

hr {
  border: solid #666666 1px;
}

p.post-meta {
  color: #666666;
  font-size: 75%;
}

p.footer {
  color: #666666;
  font-size: 75%;
  margin-bottom: 0px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  font-size: small;
  text-align: center;
}

.content pre, blockquote {
  border: 1px solid #666666;
  padding: 20px;
}

.content img {
  width: 100%;
}

#tipue_search_input {
  font-family: Fantasque Sans Mono, monospace;
  padding: 0px;
}

#tipue_search_results_count, .tipue_search_content_title a, .tipue_search_content_url a, .tipue_search_content_text, #tipue_search_warning {
  font-family: Fantasque Sans Mono, monospace;
}

.tipue_search_content_title a, .tipue_search_content_url a {
  color: #666666;
}

.tipue_search_content_title a:hover {
  color: #000000;
}

.tipue_search_content_url a:hover {
  color: #000000;
  text-decoration: underline;
}


.sidebar {
  background-image: url(/theme/images/background.jpg);
  position: absolute;
  height: 65px;
}

@media (min-width: 550px) {

  .sidebar {
    background-image: url(/theme/images/background.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
  }

}
