<hr>
<section id="mentions">
  <form action="https://webmention.io/xsteadfastx.org/webmention" method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
      <label>Have you written a <a href="https://indieweb.org/responses">response</a> to this? Let me know the URL:</label>
      <input type="hidden" name="target" value="{{ .Permalink }}">
      <div class="row">
        <div class="column">
          <input type="url" name="source">
        </div>
        <div class="column">
          <input class="button-primary" type="submit" value="Send Webmention">
        </div>
      </div>
    </fieldset>
  </form>

  <table>
  {{ range where .Site.Data.mentions.links "target" .Permalink }}
    <tr class="u-comment h-cite">
      <td><img class="h-card u-photo" src="{{ .data.author.photo }}" height="100px" width="100px"></td>
      {{ if eq .activity.type "reply" }}
      <td>
        <p class="p-content p-name">{{ .data.content | plainify }}</p>
        - <a class="h-card u-author" href="{{ .data.author.url }}">{{ .data.author.name }}</a>
        &commat; <a class="u-url" href="{{ .data.url }}"><time class="dt-published">{{ dateFormat "2006-01-02 15:04" .data.published }}</time></a>
      {{ end }}
      {{ if ne .activity.type "reply" }}
      <td><a class="u-url" href="{{ .data.url }}">{{ .activity.type }}</a> by <a class="h-card u-author" href="{{ .data.author.url }}">{{ .data.author.name }}</a></td>
      {{ end }}
    </tr>
  {{ end }}
  </table>
</section>
