<div class="meta">
  <p class="h-card">
    <a class="p-name u-url" rel="me" href="{{ .Site.BaseURL }}">{{ .Site.Params.AuthorName }}</a>
    <img class="u-photo" src="https://xsteadfastx.org/images/xsfxmarat1000.png" alt="xsteadfastx photo">
  </p>
  <link rel="pgpkey" href="/key.txt">
  <a href="https://github.com/xsteadfastx" rel="me">github</a>
  <a href="https://twitter.com/xsteadfastx" rel="me">twitter</a>
  <a href="https://chaos.social/@xsteadfastx" rel="me">mastodon</a>
  <a href="https://www.flickr.com/photos/marvinxsteadfast/" rel="me">flickr</a>
</div>
