/* roboto-mono-italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/theme/fonts/roboto-mono-v7-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
       url('/theme/fonts/roboto-mono-v7-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/roboto-mono-v7-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/roboto-mono-v7-latin-italic.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('/theme/fonts/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/theme/fonts/roboto-mono-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
       url('/theme/fonts/roboto-mono-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/roboto-mono-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/roboto-mono-v7-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-700italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/theme/fonts/roboto-mono-v7-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Bold Italic'), local('RobotoMono-BoldItalic'),
       url('/theme/fonts/roboto-mono-v7-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/roboto-mono-v7-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/roboto-mono-v7-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/roboto-mono-v7-latin-700italic.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

body {
  background: #f8f8f2;
  height: 100%;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-size: 1.5em;
  color: #282a36;
}

a {
  color: #6272a4;
  text-decoration: none;
}

a:hover {
  color: #bd93f9;
}

h1 {
  color: #6272a4;
  margin-top: 75px;
  font-family: 'Roboto Mono';
}

h1 a {
  text-decoration: none;
}

h2 {
  color: #6272a4;
  font-family: 'Roboto Mono';
}

hr {
  border: solid #44475a 1px;
}

p.post-meta {
  color: #44475a;
  font-size: 75%;
}

p.footer {
  color: #44475a;
  font-size: 75%;
  margin-bottom: 0px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  font-size: small;
  text-align: center;
}

.content pre {
  padding: 20px;
  font-family: "Roboto Mono";
}

.content blockquote {
  font-family: "Roboto Mono";
  font-size: 1.5em;
}

.content img {
  width: 100%;
}

#tipue_search_input {
  font-family: 'Roboto Mono';
  padding: 0px;
}

#tipue_search_results_count, .tipue_search_content_title a, .tipue_search_content_url a, .tipue_search_content_text, #tipue_search_warning {
  font-family: 'Roboto Mono';
}

.tipue_search_content_title a, .tipue_search_content_url a {
  color: #44475a;
}

.tipue_search_content_title a:hover {
  color: #000000;
}

.tipue_search_content_url a:hover {
  color: #000000;
  text-decoration: underline;
}

.sidebar {
  background-image: url(/theme/images/background.png);
  position: absolute;
  height: 65px;
}

@media (min-width: 550px) {

  .sidebar {
    background-image: url(/theme/images/background.png);
    background-size: cover;
    position: fixed;
    height: 100%;
  }

}

.highlight.hl-ipython3 pre {
  color: #000000;
}
