/* using this "colors": https://www.color-hex.com/color/333333 */

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/GoMono.eot');
  src: url('/fonts/GoMono.eot?#iefix') format('embedded-opentype'),
      url('/fonts/GoMono.woff2') format('woff2'),
      url('/fonts/GoMono.woff') format('woff'),
      url('/fonts/GoMono.ttf') format('truetype'),
      url('/fonts/GoMono.svg#GoMono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/GoMono-Bold.eot');
  src: url('/fonts/GoMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/GoMono-Bold.woff2') format('woff2'),
      url('/fonts/GoMono-Bold.woff') format('woff'),
      url('/fonts/GoMono-Bold.ttf') format('truetype'),
      url('/fonts/GoMono-Bold.svg#GoMono-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/GoMono-BoldItalic.eot');
  src: url('/fonts/GoMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/GoMono-BoldItalic.woff2') format('woff2'),
      url('/fonts/GoMono-BoldItalic.woff') format('woff'),
      url('/fonts/GoMono-BoldItalic.ttf') format('truetype'),
      url('/fonts/GoMono-BoldItalic.svg#GoMono-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Go Mono';
  src: url('/fonts/GoMono-Italic.eot');
  src: url('/fonts/GoMono-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/GoMono-Italic.woff2') format('woff2'),
      url('/fonts/GoMono-Italic.woff') format('woff'),
      url('/fonts/GoMono-Italic.ttf') format('truetype'),
      url('/fonts/GoMono-Italic.svg#GoMono-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Go Mono";
}

body img {
  border-style: solid;
}

pre, code {
  background-color: #eaeaea;
  border-left-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Go Mono";
  margin-bottom: 0px;
}

a {
  color: #5b5b5b;
  text-decoration: none;
  text-shadow: 4px 4px #eaeaea;
}

a:focus,
a:hover {
  color: #848484;
}

h1#logo,
h1#logo a:link {
  font-size: 5rem;
  text-shadow: 4px 4px #848484;
}

@media (min-width: 80.0rem) {
  h1#logo,
  h1#logo a:link {
    font-size: 7rem;
  }
}

h1#logo a:link,
h1#logo a:visited {
  background-color: #ffffff;
  color: #000000;
}

main h1,
h1#logo {
  text-align: center;
}

article h1 {
  text-align: left;
}

main article,
main section {
  padding: 1.0rem 1.0rem;
}

main article .e-content {
  padding-left: 0px;
}

header {
  background-image: url("/images/newstile.png");
  background-repeat: repeat;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  padding-bottom: 20px;
}

footer {
  background-image: url("/images/newstile.png");
  background-repeat: repeat;
  border-top-color: #000000;
  border-top-style: solid;
  border-top-width: 10px;
  font-size: 1.3rem;
  padding-bottom: 50px;
  padding-top: 20px;
  text-align: center;
}

footer a {
  background-color: #ffffff;
  text-decoration: line-through;
}

footer span {
  background-color: #ffffff;
}

section#pagination {
  text-align: center;
  padding-top: 7.5rem;
}

figure {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
}

figcaption {
  display: block;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

iframe {
  padding-bottom: 5px;
}

header .upsidedown {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  display: inline-block;
}

body .meta {
  display: none;
}

article .p-author.h-card {
  display: none;
}

article #mentions {
  padding-top: 5rem;
  padding-left: 0px;
}

article.h-entry section#mentions form fieldset div.row div.column {
  padding-left: 0px;
}

.button.default,
button.default,
[type="button"][default],
[type="button"].default,
[type="reset"].default,
[type="submit"] {
  background-color: #000000;
}

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: 0.1rem solid #000000;
}
