/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/ibm-plex-sans-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('/theme/fonts/ibm-plex-sans-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/ibm-plex-sans-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/ibm-plex-sans-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/ibm-plex-sans-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/ibm-plex-sans-v5-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

/* ibm-plex-serif-italic - latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  src: url('/theme/fonts/ibm-plex-serif-v6-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Serif Italic'), local('IBMPlexSerif-Italic'),
       url('/theme/fonts/ibm-plex-serif-v6-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/ibm-plex-serif-v6-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/ibm-plex-serif-v6-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/ibm-plex-serif-v6-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/ibm-plex-serif-v6-latin-italic.svg#IBMPlexSerif') format('svg'); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/theme/fonts/ibm-plex-mono-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
       url('/theme/fonts/ibm-plex-mono-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/theme/fonts/ibm-plex-mono-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/theme/fonts/ibm-plex-mono-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/theme/fonts/ibm-plex-mono-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/theme/fonts/ibm-plex-mono-v4-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}

body {
  background: #ffffff;
  height: 100%;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-size: 1.5em;
}

a {
  color: #666666;
}

a:hover {
  color: #000000;
}

h1 {
  color: #000000;
  margin-top: 75px;
  font-family: 'IBM Plex Serif';
}

h1 a {
  text-decoration: none;
}

h2 {
  color: #000000;
  font-family: 'IBM Plex Serif';
}

hr {
  border: solid #666666 1px;
}

p.post-meta {
  color: #666666;
  font-size: 75%;
}

p.footer {
  color: #666666;
  font-size: 75%;
  margin-bottom: 0px;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

figcaption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  font-size: small;
  text-align: center;
}

.content pre {
  padding: 20px;
  font-family: "IBM Plex Mono";
}

.content blockquote {
  font-family: "IBM Plex Serif";
  font-size: 1.5em;
}

.content img {
  width: 100%;
}

#tipue_search_input {
  font-family: 'IBM Plex Sans';
  padding: 0px;
}

#tipue_search_results_count, .tipue_search_content_title a, .tipue_search_content_url a, .tipue_search_content_text, #tipue_search_warning {
  font-family: 'IBM Plex Sans';
}

.tipue_search_content_title a, .tipue_search_content_url a {
  color: #666666;
}

.tipue_search_content_title a:hover {
  color: #000000;
}

.tipue_search_content_url a:hover {
  color: #000000;
  text-decoration: underline;
}

.sidebar {
  background-image: url(/theme/images/background.jpg);
  position: absolute;
  height: 65px;
}

@media (min-width: 550px) {

  .sidebar {
    background-image: url(/theme/images/background.jpg);
    background-size: cover;
    position: fixed;
    height: 100%;
  }

}
