<!DOCTYPE html>

<meta charset="utf-8">

<title>{{ SITENAME }}{% block title %}{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block styles %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/normalize.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/skeleton.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/diana.css">
<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygment.css">
{% if CUSTOM_CSS %}
<link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
{% endif %}
{% endblock %}

{% if FEED_ATOM %}
<link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
{% endif %}

<link rel="apple-touch-icon" sizes="57x57" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<body>

  <div class="row">

    <a href="{{ SITEURL }}"><div class="four columns sidebar"></div></a>

    <div class="eight columns offset-by-four">
      <div class="container content">

        {% block content %}{% endblock %}

        <hr>

        <p class="footer">LINKS: {% for name, url in LINKS %}<a href="{{ url }}">{{ name }}</a> {% endfor %}</p>
        <p class="footer">PAGES: {% for page in pages %}<a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a> {% endfor %}</p>
        <p class="footer">SOCIAL: {% for name, url in SOCIAL %}<a href="{{ url }}">{{ name }}</a> {% endfor %}</p>
        <br>

      </div>
    </div>

  </div>

  {% block scripts %}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery-3.2.1.min.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.fitvids.js"></script>
  <script>
    $(document).ready(function() {

      $(".content img").each(function() {
        if($(this).attr("alt"))
          $(this).wrap('<figure class="image"></figure>')
            .after('<figcaption>'+$(this).attr("alt")+'</figcaption>');
      });

      $(".videobox").fitVids();

    });
  </script>
  {% endblock %}
</body>
