<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	{% block styles %}
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  {% if USE_LESS %}
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js" type="text/javascript"></script>
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.min.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/reframe.js/dist/reframe.css">
  {% if CUSTOM_CSS %}
  <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}
	{% endblock %}
  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
  {% endif %}
  {% if FAVICON %}
  <link rel="shortcut icon" href="{{ SITEURL }}{{ FAVICON }}" type="image/x-icon">
  <link rel="icon" href="{{ SITEURL }}{{ FAVICON }}" type="image/x-icon">
  {% endif %}

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{{ ROBOTS }}" />
  {% block meta %}
  <meta name="author" content="{{ AUTHOR }}" />
  <meta name="description" content="{{ SITEDESCRIPTION }}" />
  {% include "partial/og.html" %}
  {% endblock %}
  <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
</head>
<body>
  {% include "partial/gtm.html" %}
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        {% if SITELOGO %}
        <img src="{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% else %}
        <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% endif %}
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>
      <p>{{ SITESUBTITLE }}</p>
      <nav>
        <ul class="list">
          {% for page in pages|sort(attribute='title') %}
          <li><a href="{{ SITEURL }}/{{ page.url }}#{{ page.slug }}">{{ page.title }}</a></li>
          {% endfor %}
          {% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <ul class="social">
        {% for name, link in SOCIAL %}
        <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">Home</a>
      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
      {% if FEED_ALL_ATOM %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
      {% endif %}
      {% if FEED_ALL_RSS %}
      <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
      {% endif %}
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% if CC_LICENSE %}
        {% include "partial/cc_license.html" %}
      {% else %}
      <p>&copy; {{ AUTHOR }} {{ COPYRIGHT_YEAR }}</p>
      {% include "partial/flex.html" %}
      {% include "partial/statuscake.html" %}
      {% endif %}
    </footer>
  </main>
	{% block scripts %}
  {% include "partial/ga.html" %}
  {% if ADD_THIS_ID %}
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADD_THIS_ID }}" async="async"></script>
  {% endif %}
	<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/bower_components/jquery.fitvids/jquery.fitvids.js"></script>
	<script>
		$(document).ready(function() {

			$("article img").each(function() {
				if($(this).attr("alt"))
					$(this).wrap('<figure class="image"></figure>')
						.after('<figcaption>'+$(this).attr("alt")+'</figcaption>');
			});

      $(".videobox").fitVids();

		});
	</script>
	{% endblock %}
</body>
</html>
