{% extends "base.html" %}

{% block content %}
{% for article in articles_page.object_list %}
<article>
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></h2>
    <p>
      Posted on {{ article.locale_date }}
      {% if article.tags %}
      &#8226; Tagged with
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
      {% if DISQUS_SITENAME %}
      &#8226; <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">Leave a comment</a>
      {% endif %}
    </p>
  </header>
  <div>
    {% if summarise or article.metadata['summary'] or article.metadata['summarize'] %}
      {{ article.summary|striptags|e }}
      <div class="continue-reading">
	<a class="btn" href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">Continue reading</a>
      </div>
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>
  {% if not loop.last %}
  <hr />
  {% endif %}
</article>
{% endfor %}

{% include "partial/pagination.html" %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% include "partial/jsonld.html" %}
  {% include "partial/disqus_count.html" %}
{% endblock %}
